# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Testing
.pytest_cache/
.coverage

# Packaging & Distribution
build/
dist/
*.spec

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
